$small: 0.8rem;
$pink: #ff6392;
$pink-hover: #d34771;
$dark-grey: #1f2429;
$medium-grey: #777;
$medium-light-grey: #a1a1a1;
$light-grey: #f9f9f9;
$background-color: #eeeeee;
$blue: #5aa9e6;
$lighter-blue: #7fc8f8;