@import '../styles/variables.scss';

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    background: $light-grey-2;
    color: $dark-grey;
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.25s ease;
  }

  a:hover {
    transform: translate(4px, 0px);
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }
}
