@import '../styles/variables.scss';

.header {
  padding: 1rem 0 3rem;
  display: flex;
  justify-content: space-between;
}

.title {
  color: $dark-grey;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: $medium-light-grey;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: $medium-grey;
}

.active-nav-item {
  color: $dark-grey;
}
